<%- include('header') %> 

    <link href="css/style_menu.css" rel="stylesheet" />

    <title>Menu</title>
  </head>
  <body>
    
    <div class="gradient">
      <nav class="nav-bar">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">MENU</div>
        <a href="/">
          <img class="back" src="images/icons/back.png">
        </a>      
      </nav>

      <!-- <div class="sticky-categories">
        <div>
          Category1
        </div>
      </div> -->

      <br>

      <main class="container py-2">
        <%- include('menu') %> 
        <%- include('menu') %> 
        <%- include('menu') %> 
        <%- include('menu') %>
        <%- include('menu') %> 
        <%- include('menu') %>
        <%- include('menu') %> 
        <%- include('menu') %>
        <%- include('menu') %> 
        <%- include('menu') %>
        
      </main>
    </div>
    
<%- include('footer') %> 
