<%- include('header') %> 

    <link href="css/style_menu.css" rel="stylesheet" />

    <title>Menu</title>
  </head>
  <body>
    
    <div class="light">
      <nav class="nav-bar">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">MENU</div>
        <a href="/">
          <img class="back" src="images/icons/back.png">
        </a>
        
      
      </nav>
      <br>

      <main class="container py-2">
        <%- include('menu_template') %> 
        <%- include('menu_template') %> 
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        
      </main>
    </div>
    
<%- include('footer') %> 
