<%- include('header') %> 

    <link href="css/style_menu.css" rel="stylesheet" />

    <title>Menu</title>
  </head>
  <body>
    <div class="light">
      <main class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">MENU</div>

        <%- include('menu_template') %> 
        <%- include('menu_template') %> 
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        <%- include('menu_template') %> 
        <%- include('menu_template') %>
        
      </main>
    </div>

<%- include('footer') %> 
